---
http_interactions:
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/github?api_key=ba7d93beb5de7820764e&page=1&private=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"abb355b3a177210b07044e8c618a58e7"
    body:
      encoding: UTF-8
      string: '{"repos":[{"name":"versioneye_update","fullname":"versioneye/versioneye_update","language":"shell","owner_login":"versioneye","owner_type":"organization","description":"Update
        an existing project at VersionEye via the API with CURL","private":false,"fork":false,"branches":null},{"name":"versioneye_license_check","fullname":"versioneye/versioneye_license_check","language":"shell","owner_login":"versioneye","owner_type":"organization","description":"Shell
        script for checking licenses quickly","private":false,"fork":false,"branches":null},{"name":"docker_web_ui","fullname":"versioneye/docker_web_ui","language":"ruby","owner_login":"versioneye","owner_type":"organization","description":"Web
        Interface for the Docker Remote API","private":false,"fork":f[...]
