---
http_interactions:
- request:
    method: post
    uri: https://www.versioneye.com/api/v2/github/versioneye:veye
    body:
      encoding: US-ASCII
      string: api_key=ba7d93beb5de7820764e&branch=master&file=Gemfile.lock
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2f06df5540d8ed9db0699f432ca1c462"
    body:
      encoding: UTF-8
      string: '{"repo":{"name":"veye","fullname":"versioneye/veye","language":"ruby","owner_login":"versioneye","owner_type":"organization","description":"VersionEye
        command line tool ","private":false,"fork":false,"branches":null,"git_url":"git://github.com/versioneye/veye.git","html_url":"https://github.com/versioneye/veye","created_at":"2012-12-27T11:15:03.000+00:00","cached_at":"2015-08-13T10:42:23.754+00:00","size":706,"homepage":null},"imported_projects":[{"id":"55ce0593cb3745000b00369d","project_key":"rubygem_versioneye_veye_1","name":"versioneye/veye","project_type":"RubyGem","public":true,"private_scm":false,"period":"daily","source":"github","dep_number":37,"out_number":7,"licenses_red":0,"licenses_unknown":3,"created_at":"2015-08-14T15:13:23.112Z","updated_at":"2015-08-14T15:13:24.471Z","license_whitelist":null}]}'
  recorded_at: Fri, 14 Aug 2015 15:13:24 GMT
recorded_with: VCR 2.9.3
