---
http_interactions:
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/github/versioneye:veye?api_key=316dbd6b80b053f5b1e5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f66ca9e1f4d09b82bfe661be75934fe5"
    body:
      encoding: UTF-8
      string: '{"repo":{"name":"veye","fullname":"versioneye/veye","language":"ruby","owner_login":"versioneye","owner_type":"organization","description":"VersionEye
        command line tool ","private":false,"fork":false,"branches":null,"git_url":"git://github.com/versioneye/veye.git","html_url":"https://github.com/versioneye/veye","created_at":"2012-12-27T11:15:03.000+00:00","cached_at":"2016-02-24T10:25:53.782+00:00","size":832,"homepage":null},"imported_projects":[]}'
  recorded_at: Sat, 12 Mar 2016 18:41:00 GMT
recorded_with: VCR 3.0.1
