---
http_interactions:
- request:
    method: post
    uri: https://www.versioneye.com/api/v2/github/versioneye:veye
    body:
      encoding: US-ASCII
      string: api_key=f82943fbd363bc640782&branch=master&file=Gemfile.lock
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"41258e8c5045e2ad16def5153b3515ee"
    body:
      encoding: UTF-8
      string: '{"repo":{"name":"veye","fullname":"versioneye/veye","language":"ruby","owner_login":"versioneye","owner_type":"organization","description":"VersionEye
        command line tool implemented in Ruby","private":false,"fork":false,"branches":null,"git_url":"git://github.com/versioneye/veye.git","html_url":"https://github.com/versioneye/veye","created_at":"2012-12-27T11:15:03.000+00:00","cached_at":"2016-08-23T13:37:23.241+00:00","size":365,"homepage":"https://www.versioneye.com"},"imported_projects":[{"id":"57c3f017864739000eca5357","name":"versioneye/veye","project_type":"RubyGem","organisation":{"name":"private","company":"private","location":""},"public":true,"private_scm":false,"period":"daily","source":"github","dep_number":46,"out_number":26,"licenses_red":0,"licenses_unknown":3,"sv_count":0,"created_at":"2016-08-29T08:19:35.015Z","updated_at":"2016-08-29T08:34:33.066Z","license_whitelist":null,"child_ids":["57c3f39712b5260016707bea"],"parent_id":null},{"id":"57c3f39712b5260016707bea","name":"versioneye/veye","project_type":"RubyGem","organisation":{"name":"private","company":"private","location":""},"public":true,"private_scm":false,"period":"daily","source":"github","dep_number":46,"out_number":26,"licenses_red":0,"licenses_unknown":3,"sv_count":0,"created_at":"2016-08-29T08:34:31.020Z","updated_at":"2016-08-29T08:34:33.027Z","license_whitelist":null,"child_ids":[],"parent_id":"57c3f017864739000eca5357"}]}'
  recorded_at: Mon, 29 Aug 2016 08:34:33 GMT
recorded_with: VCR 3.0.1
