---
http_interactions:
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/github/versioneye:veye?api_key=ba7d93beb5de7820764e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"406a9cdb2b9d8e681a09871e01c96a18"
    body:
      encoding: UTF-8
      string: '{"repo":{"name":"veye","fullname":"versioneye/veye","language":"ruby","owner_login":"versioneye","owner_type":"organization","description":"VersionEye
        command line tool ","private":false,"fork":false,"branches":["master","references"],"git_url":"git://github.com/versioneye/veye.git","html_url":"https://github.com/versioneye/veye","created_at":"2012-12-27T11:15:03.000+00:00","cached_at":"2015-07-26T19:11:37.810+00:00","size":706,"homepage":null},"imported_projects":[]}'
  recorded_at: Sun, 09 Aug 2015 08:22:18 GMT
recorded_with: VCR 2.9.3
