---
http_interactions:
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/github/versioneye:veye?api_key=f82943fbd363bc640782
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0fa998e852c7615b4f0ade6bd3f6c09c"
    body:
      encoding: UTF-8
      string: '{"repo":{"name":"veye","fullname":"versioneye/veye","language":"ruby","owner_login":"versioneye","owner_type":"organization","description":"VersionEye
        command line tool implemented in Ruby","private":false,"fork":false,"branches":null,"git_url":"git://github.com/versioneye/veye.git","html_url":"https://github.com/versioneye/veye","created_at":"2012-12-27T11:15:03.000+00:00","cached_at":"2016-08-23T13:37:23.241+00:00","size":340,"homepage":"https://www.versioneye.com"},"imported_projects":[]}'
  recorded_at: Mon, 29 Aug 2016 07:48:53 GMT
recorded_with: VCR 3.0.1
