---
http_interactions:
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/github?api_key=316dbd6b80b053f5b1e5&page=1&private=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"266776c599ae0cd92e385dc43b3e0f72"
    body:
      encoding: UTF-8
      string: '{"repos":[{"name":"clj-docker","fullname":"tauho/clj-docker","language":"clojure","owner_login":"tauho","owner_type":"organization","description":"A
        work in progress Docker API client.","private":false,"fork":true,"branches":null},{"name":"datomic_tester","fullname":"tauho/datomic_tester","language":"clojure","owner_login":"tauho","owner_type":"organization","description":"test
        does datomic works properly on docker.","private":false,"fork":false,"branches":null},{"name":"docker-datomic-free","fullname":"tauho/docker-datomic-free","language":"shell","owner_login":"tauho","owner_type":"organization","description":"Source
        of docker image for Datomic-free ","private":false,"fork":false,"branches":null},{[...]
