---
http_interactions:
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/search/veye?page=1&q=veye
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5c739ad1812879b5ecb4e92912344c2d"
    body:
      encoding: UTF-8
      string: '{"query":{"q":"veye","lang":[],"g":null},"results":[{"name":"veye","language":"ruby","prod_key":"veye","version":"0.0.9","prod_type":"RubyGem"}],"paging":{"current_page":1,"per_page":30,"total_pages":1,"total_entries":1}}'
  recorded_at: Sat, 15 Aug 2015 08:51:49 GMT
recorded_with: VCR 2.9.3
