---
http_interactions:
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/Ruby/ruby/references?api_key=f82943fbd363bc640782&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7837d47fe933fbf1420ef39028ab0223"
    body:
      encoding: UTF-8
      string: '{"query":{"lang":"Ruby","prod_key":"ruby"},"paging":{"current_page":1,"per_page":30,"total_pages":1,"total_entries":10},"results":[{"name":"gitit","language":"ruby","prod_key":"gitit","version":"2.0.2","prod_type":"RubyGem"},{"name":"pakyow-slim","language":"ruby","prod_key":"pakyow-slim","version":"1.0.0","prod_type":"RubyGem"},{"name":"scm-workflow","language":"ruby","prod_key":"scm-workflow","version":"0.5.0","prod_type":"RubyGem"},{"name":"blacklisted_password","language":"ruby","prod_key":"blacklisted_password","version":"1.0.0","prod_type":"RubyGem"},{"name":"mute_updated_at","language":"ruby","prod_key":"mute_updated_at","version":"0.0.2","prod_type":"RubyGem"},{"name":"sink_utility","language":"ruby","prod_key":"sink_utility","version":"0.1.2","prod_type":"RubyGem"},{"name":"isaf_id_validator","language":"ruby","prod_key":"isaf_id_validator","version":"0.1.0","prod_type":"RubyGem"},{"name":"acts_as_dasherize_vanity","language":"ruby","prod_key":"acts_as_dasherize_vanity","version":"0.0.3","prod_type":"RubyGem"},{"name":"diamond_shell","language":"ruby","prod_key":"diamond_shell","version":"0.475","prod_type":"RubyGem"},{"name":"overspeeding","language":"ruby","prod_key":"overspeeding","version":"1.0.0","prod_type":"RubyGem"}]}'
  recorded_at: Mon, 29 Aug 2016 08:36:21 GMT
recorded_with: VCR 3.0.1
