---
http_interactions:
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/search/veye?api_key=316dbd6b80b053f5b1e5&page=1&q=veye
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7f4a7310ac42d2053d97021a3314ffbf"
    body:
      encoding: UTF-8
      string: '{"query":{"q":"veye","lang":[],"g":null},"results":[{"name":"veye","language":"ruby","prod_key":"veye","version":"0.1.1","prod_type":"RubyGem"}],"paging":{"current_page":1,"per_page":30,"total_pages":1,"total_entries":1}}'
  recorded_at: Sat, 12 Mar 2016 19:31:30 GMT
recorded_with: VCR 3.0.1
