---
http_interactions:
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/ruby/ruby/versions?api_key=f82943fbd363bc640782
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"52d2a60f3cc22d49f7c1d489ead73f50"
    body:
      encoding: UTF-8
      string: '{"name":"ruby","language":"ruby","prod_key":"ruby","version":"0.1.0","prod_type":"RubyGem","versions":[{"version":"0.1.0","released_at":"2011-02-28T10:00:00.000+00:00","released_string":"2011-02-28T11:00:00Z"}]}'
  recorded_at: Mon, 29 Aug 2016 15:57:07 GMT
recorded_with: VCR 3.0.1
