---
http_interactions:
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/products/ruby/veye?api_key=316dbd6b80b053f5b1e5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"91ac872b6f8e462061b3ac2c43b2f365"
    body:
      encoding: UTF-8
      string: '{"name":"veye","language":"ruby","prod_key":"veye","version":"0.1.1","prod_type":"RubyGem","group_id":null,"artifact_id":null,"license_info":"MIT","description":"\n    Veye
        is commandline tool like Heroku has own ToolBelt, \n    and purpose of this
        tool is to make developer''s life even\n    more simpler and keep you up-to-date
        with freshest packages.\n  ","updated_at":"2016-03-12T18:59:06.314Z","released_at":"2015-10-20T00:00:00.000+00:00","dependencies":[{"name":"awesome_print","dep_prod_key":"awesome_print","version":"\u003e=
        1.6","parsed_version":"1.6.1","group_id":null,"artifact_id":null,"scope":"runtime"},{"name":"contracts","dep_prod_key":"contracts","version":"\u003e=
        0.11","parsed_version":"0.13.0","group_id":null,"artifact_id":null,"scope":"runtime"},{"name":"gli","dep_prod_key":"gli","version":"\u003e
        2.13","parsed_version":"2.13.4","group_id":null,"artifact_id":null,"scope":"runtime"},{"name":"rainbow","dep_prod_key":"rainbow","version":"\u003e=
        2.0","parsed_version":"2.1.0","group_id":null,"artifact_id":null,"scope":"runtime"},{"name":"render-as-markdown","dep_prod_key":"render-as-markdown","version":"\u003e=
        0","parsed_version":"0.0.6","group_id":null,"artifact_id":null,"scope":"runtime"},{"name":"rest-client","dep_prod_key":"rest-client","version":"\u003e=
        1.8","parsed_version":"1.8.0","group_id":null,"artifact_id":null,"scope":"runtime"},{"name":"terminal-table","dep_prod_key":"terminal-table","version":"\u003e=
        1.4","parsed_version":"1.5.2","group_id":null,"artifact_id":null,"scope":"runtime"}],"licenses":[{"name":"MIT","url":null}],"links":[{"name":"Homepage","link":"https://github.com/versioneye/veye"},{"name":"Project","link":"http://rubygems.org/gems/veye"},{"name":"RubyGem
        Page","link":"https://rubygems.org/gems/veye"}],"archives":[{"name":"veye-0.1.1.gem","link":"https://rubygems.org/gems/veye-0.1.1.gem"}]}'
  recorded_at: Sat, 12 Mar 2016 19:31:28 GMT
recorded_with: VCR 3.0.1
