---
http_interactions:
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/projects?api_key=f82943fbd363bc640782&orga_name=veye_test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6d21f7c07a35fbfb69c011070425be00"
    body:
      encoding: UTF-8
      string: '[{"id":{"$oid":"57c05d11864739001066e3f1"},"ids":"57c05d11864739001066e3f1","name":"OpenEJB
        :: Maven Plugins","project_type":"Maven2","organisation":{"name":"veye_test","company":"VersionEye","location":"Mannheim"},"public":false,"private_scm":false,"period":"daily","source":"API","dep_number":11,"out_number":10,"licenses_red":0,"licenses_unknown":3,"dep_number_sum":11,"out_number_sum":10,"licenses_red_sum":0,"licenses_unknown_sum":3,"license_whitelist_name":null,"created_at":"2016-08-26T15:15:30.021Z","updated_at":"2016-08-26T15:15:30.427Z"},{"id":{"$oid":"57c59f6a864739000ed5cfbb"},"ids":"57c59f6a864739000ed5cfbb","name":"OpenEJB
        :: Maven Plugins","project_type":"Maven2","organisation":{"name":"veye_test","company":"VersionEye","location":"Mannheim"},"public":true,"private_scm":false,"period":"daily","source":"API","dep_number":11,"out_number":10,"licenses_red":0,"licenses_unknown":3,"dep_number_sum":11,"out_number_sum":10,"licenses_red_sum":0,"licenses_unknown_sum":3,"license_whitelist_name":null,"created_at":"2016-08-30T14:59:54.255Z","updated_at":"2016-08-30T14:59:54.638Z"}]'
  recorded_at: Tue, 30 Aug 2016 15:10:40 GMT
recorded_with: VCR 3.0.1
