---
http_interactions:
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/projects?api_key=316dbd6b80b053f5b1e5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"888a282d4275215afe3ce10841bba281"
    body:
      encoding: UTF-8
      string: '[{"id":"52126476632bac1ae3007c88","project_key":"lein_project_clj_1","name":"bugtraqer","project_type":"Lein","public":false,"period":"weekly","source":"upload","dep_number":9,"out_number":8,"licenses_red":0,"licenses_unknown":3,"dep_number_sum":9,"out_number_sum":8,"licenses_red_sum":0,"licenses_unknown_sum":3,"license_whitelist_name":null,"created_at":"19.08.2013-18:31","updated_at":"19.08.2013-18:31"},{"id":"5137276ccb665d000200434d","project_key":"lein_project_clj_1","name":"droplocally2","project_type":"Lein","public":true,"period":"weekly","source":"upload","dep_number":22,"out_number":21,"licenses_red":0,"licenses_unknown":8,"dep_number_sum":22,"out_number_sum":21,"licenses_red_sum":0,"licenses_unknown_sum":8,"license_whitelist_name":null,"created_at":"06.03.2013-11:24","updated_at":"06.03.2013-11:24"},{"id":"563f7a55c5999a000901a538","project_key":"rubygem_gemfile_1",[...]
