---
http_interactions:
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/projects?api_key=ba7d93beb5de7820764e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"745e7ac4884d35ebe8976510d2bc337d"
    body:
      encoding: UTF-8
      string: '[{"id":"52126476632bac1ae3007c88","project_key":"lein_project_clj_1","name":"bugtraqer","project_type":"Lein","public":false,"period":"weekly","source":"upload","dep_number":9,"out_number":8,"licenses_red":0,"licenses_unknown":3,"dep_number_sum":9,"out_number_sum":8,"licenses_red_sum":0,"licenses_unknown_sum":3,"license_whitelist_name":null,"created_at":"19.08.2013-18:31","updated_at":"19.08.2013-18:31"},{"id":"55a63eee65383400160001ec","project_key":"lein_calidu_api_1","name":"Calidu/API","project_type":"Lein","public":true,"period":"daily","source":"github","dep_number":13,"out_number":1,"licenses_red":0,"licenses_unknown":0,"dep_number_sum":13,"out_number_sum":1,"licenses_red_sum":0,"licenses_unknown_sum":0,"license_whitelist_name":null,"created_at":"15.07.2015-11:07","updated_at":"15.07.2015-11:07"},{"id":"550d5387a80b5fc12d00037f","project_key":"rubygem_calidu_skillable_[...]
