---
http_interactions:
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/projects/maven2_openejb_maven_plugins_2?api_key=316dbd6b80b053f5b1e5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3f83cfa98560cf2a22921079c9286163"
    body:
      encoding: UTF-8
      string: '{"id":"563f7a57c5999a000901a55b","project_key":"maven2_openejb_maven_plugins_2","name":"OpenEJB
        :: Maven Plugins","project_type":"Maven2","public":true,"private_scm":false,"period":"daily","source":"API","dep_number":11,"out_number":10,"licenses_red":0,"licenses_unknown":3,"created_at":"2015-11-08T16:37:44.353Z","updated_at":"2015-11-08T16:37:44.834Z","license_whitelist":null,"dependencies":[{"name":"openejb-client","prod_key":"org.apache.openejb/openejb-client","group_id":"org.apache.openejb","artifact_id":"openejb-client","language":"java","version_current":"4.7.2","version_requested":"${openejb.version}","comparator":"=","unknown":false,"outdated":true,"stable":true,"licenses":[],"security_vulnerabilities":null},{"name":"openejb-core","prod_key":"org.apache.openejb/openejb-core","group_id":"org.apache.openejb","artifact_id":"openejb-core","language":"java","version_current":"4.7.2","version_requested":"${openejb.version}","comparator":"=","unknown":false,"outdated":true,"stable":true,"licenses":[],"security_vulnerabilities":null},{"name":"aether-api","prod_key":"org.sonatype.aether/aether-api","group_id":"org.sonatype.aether","artifact_id":"aether-api","language":"java","version_current":"1.13.1","version_requested":"${aether.version}","comparator":"=","unknown":false,"outdated":true,"stable":true,"licenses":[],"security_vulnerabilities":null},{"name":"maven-plugin-plugin","prod_key":"org.apache.maven.plugins/maven-plugin-plugin","group_id":"org.apache.maven.plugins","artifact_id":"maven-plugin-plugin","language":"java","version_current":"3.4","version_requested":"3.0","comparator":"=","unknown":false,"outdated":true,"stable":true,"licenses":[{"name":"Apache-2.0","url":"http://www.apache.org/licenses/LICENSE-2.0.txt","on_whitelist":null,"on_cwl":null}],"security_vulnerabilities":null},{"name":"maven-project","prod_key":"org.apache.maven/maven-project","group_id":"org.apache.maven","artifact_id":"maven-project","language":"java","version_current":"2.2.1","version_requested":"2.2.1","comparator":"=","unknown":false,"outdated":false,"stable":true,"licenses":[{"name":"Apache-2.0","url":"http://www.apache.org/licenses/LICENSE-2.0.txt","on_whitelist":null,"on_cwl":null}],"security_vulnerabilities":null},{"name":"plexus-utils","prod_key":"org.[...]
