---
http_interactions:
- request:
    method: post
    uri: https://www.versioneye.com/api/v2/projects/57c0614d864739001654fd40
    body:
      encoding: ASCII-8BIT
      string: "--64899\r\nContent-Disposition: form-data; name=\"project_file\"; filename=\"Gemfile\"\r\nContent-Type:
        text/plain\r\n\r\nsource 'https://rubygems.org'\ngem 'rails', '3.2.9'\ngroup
        :assets do\n  gem 'sass-rails',   '~> 3.2.3'\n  gem 'coffee-rails', '~> 3.2.1'\n
        \ gem 'uglifier', '>= 1.0.3'\nend\ngem 'jquery-rails'\ngem \"mongoid\", \">=
        3.0.14\"\ngem \"rspec-rails\", \">= 2.11.4\", :group => [:development, :test]\ngem
        \"database_cleaner\", \">= 0.9.1\", :group => :test\ngem \"mongoid-rspec\",
        \">= 1.5.5\", :group => :test\ngem \"email_spec\", \">= 1.4.0\", :group =>
        :test\ngem \"cucumber-rails\", \">= 1.3.0\", :group => :test, :require =>
        false\ngem \"launchy\", \">= 2.1.2\", :group => :test\ngem \"capybara\", \">=
        1.1.4\", :group => :test\ngem \"factory_girl_rails\", \">= 4.1.0\", :group
        => [:development, :test]\ngem \"omniauth\", \">= 1.1.1\"\ngem \"omniauth-twitter\"\ngem
        \"quiet_assets\", \">= 1.0.1\", :group => :development\r\n--64899\r\nContent-Disposition:
        form-data; name=\"api_key\"\r\n\r\nf82943fbd363bc640782\r\n--64899--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=64899
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b8caff0339c35bb46ec920e0f5ac99c4"
    body:
      encoding: UTF-8
      string: '{"id":"57c0614d864739001654fd40","name":"Gemfile","project_type":"RubyGem","organisation":{"name":"private","company":"private","location":""},"public":true,"private_scm":false,"period":"daily","source":"API","dep_number":17,"out_number":3,"licenses_red":0,"licenses_unknown":1,"sv_count":0,"created_at":"2016-08-26T15:33:33.500Z","updated_at":"2016-08-26T15:38:05.017Z","license_whitelist":null,"dependencies":[{"name":"rails","prod_key":"rails","group_id":null,"artifact_id":null,"language":"ruby","version_current":"5.0.0.1","version_requested":"3.2.9","comparator":"=","unknown":false,"outdated":true,"stable":true,"licenses":[{"name":"MIT","url":"http://oldwiki.rubyonrails.org/rails/pages/License","on_whitelist":null,"on_cwl":null}],"security_vulnerabilities":null},{"name":"sass-rails","prod_key":"sass-rails","group_id":null,"artifact_id":null,"language":"ruby","version_current":"5.0.6","version_requested":"3.2.6","comparator":"~\u003e","unknown":false,"outdated":true,"stable":true,"licenses":[{"name":"MIT","url":"http://opensource.org/licenses/mit-license.html","on_whitelist":null,"on_cwl":null}],"security_vulnerabilities":null},{"name":"coffee-rails","prod_key":"coffee-rails","group_id":null,"artifact_id":null,"language":"ruby","version_current":"4[...]
- request:
    method: post
    uri: https://www.versioneye.com/api/v2/projects/57c0614e864739001066feb8
    body:
      encoding: ASCII-8BIT
      string: "--836188\r\nContent-Disposition: form-data; name=\"project_file\";
        filename=\"maven-1.0.1.pom.xml\"\r\nContent-Type: application/xml\r\n\r\n<?xml
        version=\"1.0\" encoding=\"UTF-8\"?>\n<!--\n  Licensed to the Apache Software
        Foundation (ASF) under one or more\n   contributor license agreements.  See
        the NOTICE file distributed with\n   this work for additional information
        regarding copyright ownership.\n   The ASF licenses this file to You under
        the Apache License, Version 2.0\n   (the \"License\"); you may not use this
        file except in compliance with\n   the License.  You may obtain a copy of
        the License at\n\n       http://www.apache.org/licenses/LICENSE-2.0\n\n    Unless
        required by applicable law or agreed to in writing, software\n    distributed
        under the License is distributed on an \"AS IS\" BASIS,\n    WITHOUT WARRANTIES
        OR CONDITIONS OF ANY KIND, either express or implied.\n    See the License
        for the specific language governing permissions and\n    limitations under
        the License.\n  -->\n<project xmlns=\"http://maven.apache.org/POM/4.0.0\"\n
        \        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n         xsi:schemaLocation=\"http://maven.apache.org/POM/4.0.0
        http://maven.apache.org/xsd/maven-4.0.0.xsd\">\n  <modelVersion>4.0.0</modelVersion>\n\n
        \ <parent>\n    <artifactId>openejb</artifactId>\n    <groupId>org.apache.openejb</groupId>\n
        \   <version>4.5.1</version>\n  </parent>\n\n  <groupId>org.apache.openejb.maven</groupId>\n
        \ <version>1.0.1</version>\n  <artifactId>maven</artifactId>\n  <packaging>pom</packaging>\n
        \ <name>OpenEJB :: Maven Plugins</name>\n\n  <modules>\n    <module>tomee-maven-plugin</module>\n
        \   <module>tomee-embedded-maven-plugin</module>\n    <module>openejb-embedded-maven-plugin</module>\n
        \   <module>maven-util</module>\n    <module>tomee-webapp-archetype</module>\n
        \ </modules>\n\n  <dependencyManagement>\n    <dependencies>\n      <dependency>\n
        \       <groupId>org.apache.maven.plugin-tools</groupId>\n        <artifactId>maven-plugin-annotations</artifactId>\n
        \       <version>3.1</version>\n      </dependency>\n      <dependency>\n
        \       <groupId>org.codehaus.plexus</groupId>\n        <artifactId>plexus-utils</artifactId>\n
        \       <version>3.0.1</version>\n      </dependency>\n      <dependency>\n
        \       <groupId>org.apache.maven</groupId>\n        <artifactId>maven-plugin-api</artifactId[...]
