---
http_interactions:
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/projects/maven2_openejb_maven_plugins_1?api_key=ba7d93beb5de7820764e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"165f5361789dcef2ff5015e864adc81f"
    body:
      encoding: UTF-8
      string: '{"id":"55abec3d633134000d068baf","project_key":"maven2_openejb_maven_plugins_1","name":"OpenEJB
        :: Maven Plugins","project_type":"Maven2","public":true,"private_scm":false,"period":"daily","source":"API","dep_number":11,"out_number":10,"licenses_red":0,"licenses_unknown":3,"created_at":"2015-07-19T18:28:13.572Z","updated_at":"2015-07-19T18:28:14.121Z","license_whitelist":null,"dependencies":[{"name":"aether-api","prod_key":"org.sonatype.aether/aether-api","group_id":"org.sonatype.aether","artifact_id":"aether-api","language":"java","version_current":"1.13.1","version_requested":"${aether.version}","comparator":"=","unknown":false,"outdated":true,"stable":true},{"name":"openejb-client","prod_key":"org.apache.openejb/openejb-client","group_id":"org.apache.openejb","artifact_id":"openejb-client","language":"java","version_current":"4.7.2","version_requested":"${openejb.version}","comparator":"=","unknown":false,"outdated":true,"stable":true},{"name":"openejb-core","prod_key":"org.apache.openejb/openejb-core","group_id":"org.apache.openejb","artifact_id":"openejb-core","language":"java","version_current":"4.7.2","version_requested":"${openejb.versio[...]
