---
http_interactions:
- request:
    method: post
    uri: https://www.versioneye.com/api/v2/projects
    body:
      encoding: ASCII-8BIT
      string: "--895820\r\nContent-Disposition: form-data; name=\"upload\"; filename=\"Gemfile\"\r\nContent-Type:
        text/plain\r\n\r\nsource 'https://rubygems.org'\ngem 'rails', '3.2.9'\ngroup
        :assets do\n  gem 'sass-rails',   '~> 3.2.3'\n  gem 'coffee-rails', '~> 3.2.1'\n
        \ gem 'uglifier', '>= 1.0.3'\nend\ngem 'jquery-rails'\ngem \"mongoid\", \">=
        3.0.14\"\ngem \"rspec-rails\", \">= 2.11.4\", :group => [:development, :test]\ngem
        \"database_cleaner\", \">= 0.9.1\", :group => :test\ngem \"mongoid-rspec\",
        \">= 1.5.5\", :group => :test\ngem \"email_spec\", \">= 1.4.0\", :group =>
        :test\ngem \"cucumber-rails\", \">= 1.3.0\", :group => :test, :require =>
        false\ngem \"launchy\", \">= 2.1.2\", :group => :test\ngem \"capybara\", \">=
        1.1.4\", :group => :test\ngem \"factory_girl_rails\", \">= 4.1.0\", :group
        => [:development, :test]\ngem \"omniauth\", \">= 1.1.1\"\ngem \"omniauth-twitter\"\ngem
        \"quiet_assets\", \">= 1.0.1\", :group => :development\r\n--895820\r\nContent-Disposition:
        form-data; name=\"api_key\"\r\n\r\nf82943fbd363bc640782\r\n--895820\r\nContent-Disposition:
        form-data; name=\"orga_name\"\r\n\r\nveye_test\r\n--895820\r\nContent-Disposition:
        form-data; name=\"temporary\"\r\n\r\nfalse\r\n--895820\r\nContent-Disposition:
        form-data; name=\"visibility\"\r\n\r\npublic\r\n--895820--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=895820
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fa33b501a91f1565641f46b6c9209279"
    body:
      encoding: UTF-8
      string: '{"id":"57c82a438647390016710be2","name":"Gemfile","project_type":"RubyGem","organisation":{"name":"veye_test","company":"VersionEye","location":"Mannheim"},"public":true,"private_scm":false,"period":"daily","source":"API","dep_number":17,"out_number":3,"licenses_red":0,"licenses_unknown":1,"sv_count":0,"created_at":"2016-09-01T13:16:52.432Z","updated_at":"2016-09-01T13:16:53.031Z","license_whitelist":null,"dependencies":[{"name":"rails","prod_key":"rails","group_id":null,"artifact_id":null,"language":"ruby","version_current":"5.0.0.1","version_requested":"3.2.9","comparator":"=","unknown":false,"outdated":true,"stable":true,"licenses":[{"name":"MIT","url":"http://oldwiki.rubyonrails.org/rails/pages/License","on_whitelist":null,"on_cwl":null}],"security_vulnerabilities":null},{"name":"sass-rails","prod_key":"sass-rails","group_id":null,"artifact_id":null,"language":"ruby","version_current":"5.0.6","version_requested":"3.2.6","comparator":"~\u003e","unknown":false,"outdated":true,"stable":true,"licenses":[{"name":"MIT","url":"http://opensource.org/licenses/mit-license.html","on_whitelist":null,"on_cwl":null}],"security_vulnerabilities":null},{"name":"coffee-rails","prod_key":"coffee-rails","group_id":null,"artifact_id":null,"language":"ruby","version_current":"4[...]
