---
http_interactions:
- request:
    method: post
    uri: https://www.versioneye.com/api/v2/projects/maven2_openejb_maven_plugins_1
    body:
      encoding: ASCII-8BIT
      string: "--309632\r\nContent-Disposition: form-data; name=\"project_file\";
        filename=\"maven-1.0.1.pom.xml\"\r\nContent-Type: application/xml\r\n\r\n<?xml
        version=\"1.0\" encoding=\"UTF-8\"?>\n<!--\n  Licensed to the Apache Software
        Foundation (ASF) under one or more\n   contributor license agreements.  See
        the NOTICE file distributed with\n   this work for additional information
        regarding copyright ownership.\n   The ASF licenses this file to You under
        the Apache License, Version 2.0\n   (the \"License\"); you may not use this
        file except in compliance with\n   the License.  You may obtain a copy of
        the License at\n\n       http://www.apache.org/licenses/LICENSE-2.0\n\n    Unless
        required by applicable law or agreed to in writing, software\n    distributed
        under the License is distributed on an \"AS IS\" BASIS,\n    WITHOUT WARRANTIES
        OR CONDITIONS OF ANY KIND, either express or implied.\n    See the License
        for the specific language governing permissions and\n    limitations under
        the License.\n  -->\n<project xmlns=\"http://maven.apache.org/POM/4.0.0\"\n
        \        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n         xsi:schemaLocation=\"http://maven.apache.org/POM/4.0.0
        http://maven.apache.org/xsd/maven-4.0.0.xsd\">\n  <modelVersion>4.0.0</modelVersion>\n\n
        \ <parent>\n    <artifactId>openejb</artifactId>\n    <groupId>org.apache.openejb</groupId>\n
        \   <version>4.5.1</version>\n  </parent>\n\n  <groupId>org.apache.openejb.maven</groupId>\n
        \ <version>1.0.1</version>\n  <artifactId>maven</artifactId>\n  <packaging>pom</packaging>\n
        \ <name>OpenEJB :: Maven Plugins</name>\n\n  <modules>\n    <module>tomee-maven-plugin</module>\n
        \   <module>tomee-embedded-maven-plugin</module>\n    <module>openejb-embedded-maven-plugin</module>\n
        \   <module>maven-util</module>\n    <module>tomee-webapp-archetype</module>\n
        \ </modules>\n\n  <dependencyManagement>\n    <dependencies>\n      <dependency>\n
        \       <groupId>org.apache.maven.plugin-tools</groupId>\n        <artifactId>maven-plugin-annotations</artifactId>\n
        \       <version>3.1</version>\n      </dependency>\n      <dependency>\n
        \       <groupId>org.codehaus.plexus</groupId>\n        <artifactId>plexus-utils</artifactId>\n
        \       <version>3.0.1</version>\n      </dependency>\n      <dependency>\n
        \       <groupId>org.apache.maven</groupId>\n        <artifactId>maven-plugin-api</artifactId[...]
