---
http_interactions:
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/projects/57c59b4812b526000ee32df7?api_key=f82943fbd363bc640782
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"844ea883d733fc29d5168d8359a305b0"
    body:
      encoding: UTF-8
      string: '{"id":"57c59b4812b526000ee32df7","name":"OpenEJB :: Maven Plugins","project_type":"Maven2","organisation":{"name":"private","company":"private","location":""},"public":true,"private_scm":false,"period":"daily","source":"API","dep_number":11,"out_number":10,"licenses_red":0,"licenses_unknown":3,"sv_count":0,"created_at":"2016-08-30T14:42:17.261Z","updated_at":"2016-08-30T14:42:17.688Z","license_whitelist":null,"dependencies":[{"name":"maven-plugin-annotations","prod_key":"org.apache.maven.plugin-tools/maven-plugin-annotations","group_id":"org.apache.maven.plugin-tools","artifact_id":"maven-plugin-annotations","language":"java","version_current":"3.4","version_requested":"3.1","comparator":"=","unknown":false,"outdated":true,"stable":true,"licenses":[{"name":"Apache-2.0","url":"http://www.apache.org/licenses/LICENSE-2.0","on_whitelist":null,"on_cwl":null}],"security_vulnerabilities":null},{"name":"plexus-utils","prod_key":"org.codehaus.plexus/plexus-utils","group_id":"org.codehaus.plexus","artifact_id":"plexus-utils","language":"java","version_current":"3.0.24","version_requested":"3.0.1","comparator":"=","unknown":false,"outdated":true,"stable":true,"licenses":[{"name":"Apache-2.0","url":"http://www.apache.org/licenses/LICENSE-2.0.txt","on_whitelist":null,"on_cwl":null}],"security_vulnerabilities":null},{"name":"maven-plugin-api","prod_key":"org.apache.maven/maven-plugin-a[...]
