---
http_interactions:
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/me?api_key=316dbd6b80b053f5b1e5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"de44d4714a0668b151f1f0e8c4c8b832"
    body:
      encoding: UTF-8
      string: '{"fullname":"Tim Gluz","username":"timgluz","email":"timgluz@gmail.com","admin":false,"deleted_user":false,"notifications":{"new":0,"total":2467},"enterprise_projects":1,"active":true}'
  recorded_at: Sat, 12 Mar 2016 18:02:28 GMT
recorded_with: VCR 3.0.1
