---
http_interactions:
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/me/favorites?api_key=f82943fbd363bc640782&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2a4fd35ddb80dc39d000149a74f7427c"
    body:
      encoding: UTF-8
      string: '{"user":{"fullname":"Tim Gluz","username":"timgluz"},"favorites":[{"name":"h2","language":"java","prod_key":"com.h2database/h2","version":"1.4.192","prod_type":"Maven2"},{"name":"mallet","language":"java","prod_key":"cc.mallet/mallet","version":"2.0.8","prod_type":"Maven2"},{"name":"aws-java-sdk","language":"java","prod_key":"com.amazonaws/aws-java-sdk","version":"1.11.28","prod_type":"Maven2"},{"name":"bandalore","language":"java","prod_key":"com.cemerick/bandalore","version":"0.0.6","prod_type":"Maven2"},{"name":"clojure","language":"java","prod_key":"org.clojure/clojure","version":"1.8.0","prod_type":"Maven2"},{"name":"clojure-contrib","language":"j[...]
