---
http_interactions:
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/me?api_key=f82943fbd363bc640782
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"86e6b2048f2efe0bfd7a0f037fb96528"
    body:
      encoding: UTF-8
      string: '{"fullname":"Tim Gluz","username":"timgluz","email":"timgluz@gmail.com","admin":false,"deleted_user":false,"notifications":{"new":0,"total":3015},"enterprise_projects":1,"rate_limit":50,"comp_limit":50,"active":true}'
  recorded_at: Fri, 26 Aug 2016 13:07:27 GMT
recorded_with: VCR 3.0.1
