---
http_interactions:
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/me/favorites?api_key=316dbd6b80b053f5b1e5&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"21954c86d7289e40339d185c3681115f"
    body:
      encoding: UTF-8
      string: '{"user":{"fullname":"Tim Gluz","username":"timgluz"},"favorites":[{"name":"h2","language":"java","prod_key":"com.h2database/h2","version":"1.4.191","prod_type":"Maven2"},{"name":"mallet","language":"java","prod_key":"cc.mallet/mallet","version":"2.0.7","prod_type":"Maven2"},{"name":"aws-java-sdk","language":"java","prod_key":"com.amazonaws/aws-java-sdk","version":"1.10.60","prod_type":"Maven2"},{"name":"bandalore","language":"java","prod_key":"com.cemerick/bandalore","version":"0.0.6","prod_type":"Maven2"},{"name":"clojure","language":"java","prod_key":"org.clojure/clojure","version":"1.8.0","prod_type":"Maven2"},{"name":"clojure-contrib","language":"j[...]
