---
http_interactions:
- request:
    method: get
    uri: https://www.versioneye.com/api/v2/me?api_key=ba7d93beb5de7820764e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e3978848908037875a8f9d6c762f70d6"
    body:
      encoding: UTF-8
      string: '{"fullname":"Tim Gluz","username":"timgluz","email":"timgluz@gmail.com","admin":false,"deleted_user":false,"notifications":{"new":0,"total":1767},"enterprise_projects":1,"active":true}'
  recorded_at: Mon, 17 Aug 2015 16:47:19 GMT
recorded_with: VCR 2.9.3
